{% extends 'base.html' %}


{% block content %}


<br><br><br>

<div class="panel panel-default" style="width:70%;margin:auto;">
  <div class="panel-heading" style="background-color: #428bca;text-align: center;margin:auto;height: 50px;">
    <h3 class="panel-title" style="line-height: 30px;font-size: 25px;">修改主机信息</h3>
  </div>
  <div class="panel-body" style=" width:70%;text-align: center;margin-left: 100px;font-size: 18px;">
      <form method="post" action="{% url 'hostid' host.ip %}">
          {% csrf_token %}
          <label style="width:200px;">主机ip<span style="color: red">*</span></label><input name="host_ip" style="width: 600px;height: 50px;"
                                                                                          required="required" placeholder="多个Ip用 , 号分隔" readonly="true" disabled="true" value="{{ host.ip }}">
          <br/><br/>
          <label style="width:200px;">ssh端口<span style="color: red">*</span></label><input name="ssh_port" required="required" style="width: 600px;height: 50px;" value="{{ host.ssh_port }}">
          <br/><br/>
          <label style="width:200px;">用户名<span style="color: red">*</span></label><input name="username" required="required" style="width: 600px;height: 50px;" value="{{ host.username }}">
          <br/><br/>
          <label style="width:200px;">密码<span style="color: red">*</span></label><input name="passwd" required="required"  style="width: 600px;height: 50px;" value="{{ host.password }}">
          <br/><br/>
          <label style="width:200px;">cpu核数</label><input name="cpu_num" style="width: 600px;height: 50px;" value="{{ host.cpu_num }}">
          <br/><br/>
          <label style="width:200px;">内存(GB)</label><input name="memory_total" style="width: 600px;height: 50px;" value="{{ host.memory_total }}">
          <br/><br/>
          <label style="width:200px;">磁盘(GB)</label><input name="disk_total" style="width: 600px;height: 50px;" value="{{ host.disk_total }}">
          <br/><br/>
          <label style="width:200px;">备注</label><input name="note" style="width: 600px;height: 50px;" value="{% if host.note %}{{ host.note }}
                                                                                                             {% endif %}">
          <br/><br/>
            <input style="margin-left: 150px;" type="submit" class="btn btn-success" value="提交">
            <a style="margin-left: 150px;" class="btn btn-info" href="{% url 'host_list'    %}">返回</a>
          <br/><br/>
      </form>

  </div>
</div>

{% endblock %}